<!-- login.html -->
{% extends "etusivu.html" %}
{% block title %}m{% endblock %}
{% block content %}


<h1>Login</h1>
<form action="{{ url_for('auth.login') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Login</button>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<p>Don't have an account? <a href="{{ url_for('user.add_user') }}">Register</a></p>
{% endblock %}
